#list{
	width: 200px;
}

#list li{
	list-style: none;
	width: 100%;
	padding: 5px 20px;
	background: #000;
	color: #fff;
	margin: 2px 0px;
}

#list li:nth-child(3n) {
 background: #f00;
	color: #fff;
}
